.header {
	padding-block: 16px;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	.userInfo {
		display: flex;
		align-items: center;
		gap: 12px;

		.avatar {
			width: 45px;
			height: 45px;
			background: #4f6ef7;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			font-weight: 600;
			font-size: 18px;
		}

		.userDetails {
			.name {
				color: #333;
				font-size: 18px;
				font-weight: 600;
				margin-bottom: 2px;
			}

			.status {
				background: #4f6ef7;
				color: white;
				padding: 4px 12px;
				border-radius: 12px;
				font-size: 14px;
				font-weight: 500;
				display: inline-block;
			}
		}
	}

	.points {
		display: flex;
		align-items: end;
		gap: 10px;

		color: #333;
		font-size: 18px;
		font-weight: 600;

		img {
			width: 20px;
			height: 20px;
		}
	}
}

.jitterGlowStar {
	animation: jitter 1s infinite, glow 2s infinite alternate;
}

@keyframes jitter {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-2deg);
	}
	75% {
		transform: rotate(2deg);
	}
}

@keyframes glow {
	from {
		filter: drop-shadow(0 0 3px gold);
	}
	to {
		filter: drop-shadow(0 0 8px orange);
	}
}
