@use './vars';

.wrapper {
	min-height: 100vh;

	display: flex;
	flex-direction: column;

	background-color: #fff;
	border-radius: 10px;
}

.middle {
	flex-grow: 1;
	background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

	padding-block: 100px;
}

.container {
	max-width: #{vars.$containerWidth + vars.$containerPadding * 2}px;
	margin-inline: auto;
	padding-inline: #{vars.$containerPadding}px;
}

body {
	font-family: 'Roboto', sans-serif;
}
